<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= assigns[:page_title] || "DiceMagick · Phoenix Framework" %></title>
    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7cd415e281.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tag() %>
  </head>

  <%= if @current_user do %>
    <body class="font-mono text-gray-300 bg-gray-900 antialiased app">
      <header class="bg-gray-800">
        <div class="max-w-4xl mx-auto px-10 py-5">
          <a href="/">
            <h1 class="text-gray-400 text-lg font-bold uppercase tracking-wider">
              <span class="fas fa-dice-d20 text-red-700"></span>
              DiceMagick
            </h1>
          </a>
        </div>
      </header>

      <%= @inner_content %>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
  <% else %>
    <body class="font-serif text-light antialiased font-thin flex w-screen h-screen items-center justify-center bg-dark bg-plant">
      <main role="main">
        <h1 class="text-4xl text-center mb-20">Perish all who gaze upon the Dice Wizard.</h1>
        <p class="bg-keys text-3xl text-center mb-10"><strong class="font-semibold">Will you log in with Discord?</strong></p>

        <div class="flex justify-center">
          <%= link "Yes", to: discord_oauth_url(), class: "text-2xl font-semibold uppercase tracking-wider bg-light-red px-12 py-2 rounded-sm mr-6" %>
          <%= link "No", to: "#", class: "text-2xl font-semibold uppercase tracking-wider border border-brown px-12 py-2 rounded-sm" %>
        </div>
      </main>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
  <% end %>
</html>

