<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= assigns[:page_title] || "DiceMagick · Phoenix Framework" %></title>
    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7cd415e281.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <%= csrf_meta_tag() %>
  </head>

  <%= if @current_user do %>
    <body class="font-serif text-gray-300 bg-dark-200 antialiased">
      <header role="banner" class="banner">
        <div class="max-w-4xl mx-auto px-10 py-5">
          <a href="/">
            <h1 class="text-neutral-300 text-lg font-bold uppercase tracking-wider">
              <span class="fas fa-dice-d20 text-red-700 mr-1"></span>
              DiceMagick
            </h1>
          </a>
        </div>
      </header>

      <%= @inner_content %>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
  <% else %>
    <body class="font-serif text-light antialiased font-thin flex w-screen h-screen items-center justify-center bg-dark-200 text-neutral-500 bg-plant">
      <main role="main">
        <h1 class="text-4xl text-center mb-20">Perish all who gaze upon the Dice Wizard.</h1>
        <p class="bg-keys text-3xl text-center text-neutral-400 mb-10"><strong class="font-medium">Will you log in with Discord?</strong></p>

        <div class="flex justify-center">
          <%= link "Yes", to: discord_oauth_url(), class: "btn text-2xl font-medium uppercase tracking-wider mr-6" %>
          <%= link "No", to: "#", class: "btn btn--ghost text-2xl font-medium uppercase tracking-wider" %>
        </div>
      </main>

      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
  <% end %>
</html>

