<section>
  <h1 >Edit <%= @character.name %></h1>
  <%= render "form.html", assigns %>
  <%= link to: Routes.live_path(@socket, CharacterLive.Show, @character), class: "link link--secondary text-sm" do %>
    Never mind
  <% end %>
</section>
