<%= f = form_for @changeset, "#", [phx_change: :update, phx_submit: :save] %>
<%= text_input f, :name, placeholder: "Name", class: "input", required: true %>
<%= select f, :source_type, ["Google Sheets": :google_sheets] %>

<input type="text" name="key" value="<%= @key %>" placeholder="Spreadsheet key"  required />
<input type="text" name="worksheet" value="<%= @worksheet %>" placeholder="Worksheet"  required />

<%= submit do %>Save<% end %>
</form>
