<%= f = form_for @changeset, "#", [phx_change: :update, phx_submit: :save] %>
  <div class="input">
    <%= text_input f, :name, placeholder: "Name"  %>
    <div class="error"><%= error_tag f, :name %></div>
  </div>

  <div class="input">
    <%= textarea f, :stats, placeholder: "Stats"  %>
  </div>

  <%= submit "Save"%>
</form>
