<section>
  <h1>Your Characters</h1>
  <%= if Enum.empty?(@characters) do %>
    <p>Looks like no one’s home.</p>
  <% else %>
    <ul>
      <%= for character <- @characters do %>
        <li><%= link character.name, to: Routes.live_path(@conn, CharacterLive.Show, character), class: "link" %></li>
      <% end %>
    </ul>
  <% end %>
</section>
