<section class="section">
  <h1 class="text-xl font-bold mb-5">Create a Character</h1>

  <div class="mb-10">
    <%= render "form.html", assigns %>
  </div>

  <p>👈 <%= link "Never mind", to: Routes.character_path(@socket, :index), class: "text-gray-600" %></p>
</section>
