<%= if get_flash(@conn, :info) do %>
  <div  role="alert">
    <%= get_flash(@conn, :info) %>
    <button data-behavior="close" >ⓧ</button>
  </div>
<% end %>

<%= if get_flash(@conn, :error) do %>
  <div role="alert">
    <div >
      <%= get_flash(@conn, :error) %>
      <button data-behavior="close" >ⓧ</button>
    </div>
  </div>
<% end %>

<%= @inner_content %>
