<body>
  <main role="main">
    <h1>
      Perish all who gaze upon<br />
      the Dice Wizard.
    </h1>
    <p><strong>Will you log in with Discord?</strong></p>

    <div>
      <%= link "Yes", to: discord_oauth_url() %> <%= link "No", to: "#" %>
    </div>
  </main>
</body>
