<body>
  <header role="banner">
    <%= link to: Routes.page_path(@conn, :index) do %>
      <h1>DiceMagick</h1>
    <% end %>
  </header>

  <%= @inner_content %>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
