<body class="font-body text-slate-800 bg-cream-100 border-t-10 border-primary">
<%# <body class="font-body text-slate-800 bg-cream-100 border-t-10 border-gray-500 sm:border-red-500 md:border-green-500 lg:border-blue-500 xl:border-purple-500"> %>
  <%= @inner_content %>

  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
