<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= assigns[:page_title] || "🎲 DiceMagick" %></title>
    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7cd415e281.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500&family=DM+Serif+Display:wght@400&display=swap" rel="stylesheet">
    <%= csrf_meta_tag() %>
  </head>

  <%= if @current_user do %>
    <%= render "logged_in.html", assigns %>
  <% else %>
    <%= render "logged_out.html" %>
  <% end %>
</html>
