<div class="show-details bg-primary-500 relative">
  <div class="circle-wrapper">
    <div class="bg-circle"></div>
  </div>

  <%= render "header.html", assigns %>
  <%= render "active_rolls.html", rolls: @active_rolls %>
</div>

<div class="section grid grid-cols-4 gap-4">
  <%= for roll <- @rolls do %>
    <button class="btn btn--roll" phx-click="roll" phx-value-name="<%= roll.name %>">
      <%= roll.name %>
    </button>
  <% end %>
</div>
