@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/nprogress/nprogress.css";

.app {
  ul {
    list-style: disc;
  }
}

.link {
  @apply text-orange-600 border-b border-orange-900;
}

.link:hover {
  @apply text-orange-500 border-orange-800;

  transition: all 0.2s;
}

.bg-plant {
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url("/images/plant.svg");
}

.bg-keys {
  background: center top no-repeat url("/images/keys.svg");
  padding-top: 200px;
}

.section {
  @apply max-w-4xl mx-auto p-10;
}

.input {
  @apply text-gray-800 border border-gray-300 rounded-sm py-2 px-4 block w-full appearance-none leading-normal;
}

.select {
  @apply text-gray-800 block appearance-none w-full border border-gray-300 px-4 py-2 pr-8 rounded-sm shadow leading-tight;
}

.input:focus,
.select:focus {
  @apply outline-none shadow-outline;
}

.btn {
  @apply bg-orange-800 text-sm text-orange-100 py-2 px-6 rounded inline-flex items-center;
}

.btn:hover {
  @apply bg-orange-700 cursor-pointer;

  transition: background-color 0.2s;
}
