@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}

.bg-plant {
  background-position: 10% bottom;
  background-repeat: no-repeat;
  background-image: url("/images/plant.svg");
}

.bg-keys {
  background: center top no-repeat url("/images/keys.svg");
  padding-top: 200px;
}
