@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/nprogress/nprogress.css";

.app {
  ul {
    list-style: disc;
  }
}

.link {
  @apply text-red-600 border-b border-red-900;
}

.link:hover {
  @apply text-red-500 border-red-800;

  transition: all 0.2s;
}

.link--secondary {
  @apply text-gray-400 border-b border-gray-600;
}

.link--secondary:hover {
  @apply text-gray-300 border-gray-500;
}

.bg-plant {
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: url("/images/plant.svg");
}

.bg-keys {
  background: center top no-repeat url("/images/keys.svg");
  padding-top: 200px;
}

.section {
  @apply max-w-4xl mx-auto p-10;
}

.input {
  @apply text-gray-800 border border-gray-300 rounded-sm py-2 px-4 block w-full appearance-none leading-normal;
}

.select {
  @apply text-gray-800 block appearance-none w-full border border-gray-300 px-4 py-2 pr-8 rounded-sm shadow leading-tight;
}

.input:focus,
.select:focus {
  @apply outline-none shadow-outline;
}

.btn {
  @apply bg-red-800 text-sm text-red-100 py-2 px-6 rounded-sm inline-flex items-center;
}

.btn:hover {
  @apply bg-red-700 cursor-pointer;

  transition: all 0.2s;
}

.btn--roll {
  @apply border border-red-600 font-semibold;
}

.btn--roll:hover {
  @apply border-red-500 shadow-lg;
}

.btn--secondary {
  @apply bg-gray-800 text-xs;
}

.btn--secondary:hover {
  @apply bg-gray-600;
}

.btn--working {
  @apply bg-gray-900 text-gray-700;
}

.btn--working:hover {
  @apply bg-gray-900 cursor-not-allowed;
}

.roll {
  @apply bg-orange-800 text-orange-100 py-2 px-6 rounded-sm inline-flex items-center;
}

.outset {
  position: absolute;
  left: -2.5rem;
  transition: background-color 0.2s;
}
